<div class="jumbotron jumbotron-fluid indexJumbotron">
  <div class="container ">
    <h1 class="display-3 text-white">Hiragana</h1>
    <p class="lead text-white">Practice the characters below and when you're ready, test yourself on the full set of 46 characters!</p>
  </div>
</div>
<div class="row indexRow">
  <div class="col-12 col-sm-6" ng-repeat="test in vm.tests | limitTo : 10:0">
    <div class="card list-group-item list-group-item-action indexCard" ui-sref="hiraganaShow({ id: test.id })">
      <div class="row">
        <div class="col-3">
          <img src="{{ test.image }}" alt="" class="indexCharacterImg">
        </div>
        <div class="col-9 indexContainer">
          <ul class="list-unstyled list-inline">
            <li ng-repeat="character in test.characters" class="list-inline-item">
              <p class="index-character characterSymbol">{{ character.symbol }}</p>
              <p class="index-character characterRomaji ">{{ character.romaji }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row indexTest">
  <div class="col-10 col-sm-8 col-md-4 mx-auto">
    <div class="card list-group-item list-group-item-action" ui-sref="hiraganaShow({ id: test.id })">
      <ul class="list-unstyled text-center">
        <li  ng-repeat="test in vm.tests | limitTo : 1:10" class="">
          <p class="testname">Take the test</p>

        </li>
      </ul>
    </div>
  </div>
</div>
