
<div class="row">
  <div class="col-6 mx-auto">
    <ul class="list-unstyled list-group">
      <li ui-sref="hiraganaShow({ id: test.id })" ng-repeat="test in vm.tests | limitTo : 10:0" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-2 col-sm-5 col-md-4">
            <h4 class="testname">{{ test.name }}</h4>
          </div>
          <div class="col-10 col-sm-7 col-md-8">
            <ul class="list-unstyled list-inline">
              <li ng-repeat="character in test.characters" class="list-inline-item">
                <p class="index-character">{{ character.symbol }}</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-6 mx-auto">
    <ul class="list-unstyled list-group">
      <li ui-sref="hiraganaShow({ id: test.id })" ng-repeat="test in vm.tests | limitTo : 1:10" class="list-group-item list-group-item-action">
        <div class="col-12">
          <h4 class="testname">Test: {{ test.name }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
