<div class="container containerShow">


  <div class="col-4 mx-auto testShow">

    <!-- TITLE -->
    <div class="row">
      <div class="col mx-auto">
        <h1 class="text-center">Hiragana: {{ vm.test.name }}</h1>
      </div>
    </div>

    <!-- QUESTION -->
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center characterSymbolShow">{{ vm.question }}</p>
      </div>
      <!-- ANSWER -->
      <div class="col-8 mx-auto">
        <form ng-submit="vm.checkAnswer()">
          <div class="form-group">
            <input class="form-control" type="text" name="" value="" ng-model="vm.answer">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-auto">
        <h1>{{ vm.result }}</h1>
      </div>
    </div>
    <!-- RIGHT OR WRONG -->

    <!-- SCORE -->
    <div class="row">
      <div class="col-12 text-center">
        <h1 >Score: {{ vm.points }} / {{ vm.tries }}</h1>
      </div>
    </div>

    <!-- HELPER -->
    <!-- <div class="row">
      <div class="col-sm-12 col-md-8 mx-auto">
        <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
              <ul  class="list-unstyled list-inline text-center">
                <li ng-repeat="character in vm.test.characters" class="text-white list-inline-item">{{ character.symbol }} = {{ character.romaji }}, </li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
      </div>
    </div> -->
  </div>
</div>
