
<div class="container showfullcontainer">
  <div class="row">
    <div ng-class="{ pulse: vm.correct }" class="scoreCircle animated">
      <p>{{vm.points}}</p>
    </div>
    <div ng-class="{ shake: vm.wrong }" class="triesCircle animated">
      <p>{{vm.tries}}</p>
    </div>
    <div class="result">
      <p>{{vm.result}}</p>
    </div>
    <div class="carouselContainer">
      <div class="carousel">
        <div class="item a"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
        <div class="item b"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
        <div class="item c"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
        <div class="item d"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
        <div class="item e"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
        <div class="item f"><p class="text-center characterSymbolShow">{{ vm.question }}</p></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="showInput mx-auto">
      <form ng-submit="vm.checkAnswer()">
        <div class="form-group mx-auto">
          <input class="form-control next" type="text" name="" value="" ng-model="vm.answer">
        </div>
      </form>
    </div>
  </div>
  <div id="sidebar">
    <div id="links">
      <ul id="link_list" class="list-unstyled list-inline text-center align-middle">
        <div class="col-12 cheatContainer">
          <li ng-repeat="character in vm.test.characters" class="text-white list-inline-item">{{ character.symbol }} - {{ character.romaji }} </li>
        </div>
      </ul>
    </div>
    <div id="toggle">
      <p id="cheat">Tips</p>
    </div>
  </div>
</div>
