
<div class="row">
  <div class="col-8 mx-auto">
    <ul class="list-unstyled list-group">
      <li ui-sref="wordsShow({ id: test.id })" ng-repeat="test in vm.tests | limitTo : 10:22" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-3 col-sm-5 col-md-5">
            <h4 class="testname">{{ test.name }}</h4>
          </div>
          <div class="col-9 col-sm-7 col-md-7">
            <ul class="list-unstyled list-inline">
              <li ng-repeat="word in test.words | limitTo : 1:0" class="list-inline-item">
                <p class="index-character">{{ word.symbol }}</p>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
