.indexJumbotron {
  // height: 300px;
  // background-color: #fff;
  background-image: url('/images/garden.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin-top: 20px;
}

.jumbotron {
  h1, p {
    margin-left: 10px;
    
  }
  // height: 2em;
  // padding-bottom: 5px;
}

.indexRow {
  // padding-top: 20px;

   .indexCard {
     margin-bottom: 10px;
   }

  // .indexContainer {
  //   position: relative;
  //   // display: table-cell;
  //   vertical-align: middle;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  //   height: 50%;
  //   width: 50%;
  // }
  .characterSymbol{
    font-family: "Sawarabi Mincho";
    text-align: center;
    // margin-bottom: 0px;
    padding-left: 10px;
  }

  .characterRomaji{
    text-align: center;
    // margin: -20px;
  }

  .indexCharacterImg{
    width: 100%;
    // margin: 5px;
  }

  /* xs < 768 */
  @media screen and (max-width: 767px) {
    .characterSymbol {
      font-size: 1.8em;
    }
    .characterRomaji {
      font-size: 0.5em;
    }
  }

  /* sm */
  @media screen and (min-width: 768px) {
    .characterSymbol  {
      font-size: 1.7em;
    }
    .characterRomaji {
      font-size: 0.8em;
    }
  }

  /* md */
  @media screen and (min-width: 992px) {
    .characterSymbol  {
      font-size: 2.5em;
    }
    .characterRomaji {
      font-size: 1.1em;
    }
  }

  /* lg */
  @media screen and (min-width: 1200px) {
    .characterSymbol  {
      font-size: 3.3em;
    }
    .characterRomaji {
      font-size: 1.5em;
    }
  }
}

.indexTest {
  margin: 20px 0px 50px 0px;

  .testname {
    font-size: 2em;
    font-family: "Sawarabi Mincho";
    margin-top: 10px;
    padding: 0;
  }
}
