.characterSymbolShow {
  font-family: "Sawarabi Mincho";
  font-size: 250px;
  line-height: 1.2em;

}

.containerShow {
  padding-top: 90px;
}

.testShow {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}
