.indexJumbotron {
  width: 100%;
  background-image: url('/images/garden.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  // h1, p {
  //   margin-left: 10px;
  // }
  h1 {
    position: absolute;
    top: 70%;
  }
  p {
    position: absolute;
    top: 84%;
  }
}

.image-container {
  // line-height: 103px;
}


.indexRow {
  ul {
    margin-top: 10px;
    margin-bottom: 0;
  }

   .indexCard {
     margin-bottom: 10px;
   }

  .indexContainer {
    // margin-top: 15px;
  }

  .characterSymbol{
    font-family: "Sawarabi Mincho";
    text-align: center;
    line-height: 50px;
    // margin-bottom: 0px;
    padding-left: 10px;
  }

  .characterRomaji{
    text-align: center;
    // margin: -20px;
  }

  .indexCharacterImg{
    width: 100%;
    // margin: 5px;
  }

  /* xs < 768 */
  @media screen and (max-width: 767px) {
    .characterSymbol {
      font-size: 1.8em;
    }
    .characterRomaji {
      font-size: 0.5em;
    }
  }

  /* sm */
  @media screen and (min-width: 768px) {
    .characterSymbol  {
      font-size: 1.7em;
    }
    .characterRomaji {
      font-size: 0.8em;
    }
  }

  /* md */
  @media screen and (min-width: 992px) {
    .characterSymbol  {
      font-size: 2.5em;
    }
    .characterRomaji {
      font-size: 1.1em;
    }
  }

  /* lg */
  @media screen and (min-width: 1200px) {
    .characterSymbol  {
      font-size: 3.3em;
    }
    .characterRomaji {
      font-size: 1.5em;
    }
  }
}

.indexTest {
  margin: 20px 0px 50px 0px;

  .testname {
    font-size: 2em;
    font-family: "Sawarabi Mincho";
    // margin-top: 10px;
    padding: 0;
  }
}
