@import 'wordsIndex';
@import 'characterindex';
@import 'characterShow';
@import 'user-home';
@import 'login';
@import 'register';

body {
  background-color: #2e4355;
  background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,#20303d, #2e4355, #20303d);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,#20303d, #2e4355, #20303d);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,#20303d, #2e4355, #20303d);
  /* Standard syntax */
  background: linear-gradient(to right, #20303d, #2e4355, #20303d);


}

p {
  // color: #2d2d2d;
}

.card {
  background-color: #1c2833;
}

.navbar-custom {
  z-index: 2;
  position: absolute;
  padding: 20px;
  img {
    margin-right: 10px;
    margin-left: 60px;
  }
  .logout {
    padding-right: 20px;
  }
}

.homeJumbotron {
  width: 100%;
  background-image: url('/images/fuji.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 0;
  h1 {
    font-size: 7em;
    font-weight: bold;
    position: relative;
    float: left;
    padding-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.categoryJumbotron {
  width: 100%;
  background-image: url('/images/categories.jpg');
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  // border-top: 2px solid white;
  // border-bottom: 2px solid white;
}

.infoJumbotron {
  width: 100%;
  background-image: url('/images/info.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 572px;
  margin-top: 70px;
  margin-bottom: 70px;
}
